// Import the initial bulma variables
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

// Overrides
$primary: $arty-purple;
$link: $secondary;
$footer-background-color: $off-white;

// Import the rest of bulma
@import '~bulma';
